<div ng-controller="ArticlesCtrl">
  <h1 class='page-header well'>The England News Source</h1>
  <div>
    <ul class='list-unstyled'>
      <li ng-repeat="item in articles | orderBy:'-points'" class='textBackground'>
        <a href="{{item.link}}" target="_blank"> {{ item.name }}</a> <span class="link">({{ item.link }})</span>
        | <a ui-sref="articles({ articlesId: item.id})">comments {{ item.comments.length }}</a>
        | <button class="btn btn-xs btn-info" ng-click="addOneVote(item.id, articles)" ng-controller="CountCtrl">
          <span class="glyphicon glyphicon-arrow-up">{{item.count}}</span>
          </button>
      </li>
    </ul>
  </div>
  <div class="section">
    <h2>Add a article</h2>
    <form ng-submit="ArticleFactory.addArticle()" role ="form">
      <div class="form-group">
        <input type="text" ng-model="ArticleFactory.articleName" placeholder="title of article">
        <input type="text" ng-model="ArticleFactory.articleLink" placeholder="Link of article">
      </div>
      <button type="submit">create article</button>
    </form>
  </div>
</div>
